server:
  port: 8084
spring:
  application:
    name: OrderProvider
  rabbitmq:
    host: 124.70.131.251
    port: 5672
    username: guest
    password: guest
    virtual-host: /
  cloud:
    nacos:
      discovery: #实现注册中心
        server-addr: localhost:8848
  datasource:
    url: jdbc:mysql://localhost:3306/db_cloudoffer?serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource